<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Kriterium.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Kriterium.Properties.Settings>
            <setting name="port1" serializeAs="String">
                <value />
            </setting>
            <setting name="port2" serializeAs="String">
                <value />
            </setting>
            <setting name="minValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="maxValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="normValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="volt1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="volt2" serializeAs="String">
                <value>0</value>
            </setting>
        </Kriterium.Properties.Settings>
    </userSettings>
</configuration>